/* Define styles for the rows */
.first-row {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center align items */
    border: 2px solid #FF5733; /* Border color */
    margin: 10px;
    padding: 15px;
    background-color: #FFD700; /* Background color */
}

.second-row {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center align items */
    border: 4px solid #9810ce; /* Border color */
    margin: 15px;
    padding: 20px;
    background-color: #e38e0e; /* Background color */
}

.third-row {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center align items */
    border: 6px dotted #4CAF50; /* Border color */
    margin: 20px;
    padding: 25px;
    background-color: #3498DB; /* Background color */
}


/* Define styles for the columns */
.first-column {
    text-align: left; /* Align the content to the left */
    border: 1px solid #E74C3C; /* Border color */
    margin: 0px;
    padding: 0px;
    background-color: #1ABC9C; /* Background color */
}

.second-column {
    text-align: center; /* Align the content to the center */
    border: 5px solid #9B59B6; /* Border color */
    margin: 5px;
    padding: 5px;
    background-color: #e622ae; /* Background color */
}

.third-column {
    text-align: right; /* Align the content to the right */
    border: 10px solid #F39C12; /* Border color */
    margin: 10px;
    padding: 10px;
    background-color: #0f1112; /* Background color */
}
